
.wrapper {
    margin: 0 auto; 
    width: 1000px;
}

.baner a img {
    margin-left: 230%;
}

.baner img {
    width: 30x;
    height: 33px;
}
.store-links { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: -10px;
    position: relative;
    text-align: center;
}

.store-img {
    flex-basis: 30%;
    margin: 55px 5px;
}

.store-img img {
    width: 250px;
    height: 230px;
}

.img img:hover {
    opacity: 0.8;
    transform: scale(1.11);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.img {
    position: relative;
    text-align: center;
}

.img-text {
   margin-top: 10px;
   margin-left: 25px;
   text-align: left;
   text-decoration: none;
   font-size: 20px;
   letter-spacing: 3px;
   color: black;
}

a {
    text-decoration: none;
}

.back-btn {
    margin-top: 30px;
    display: block;
}



.back-btn img {
    width: 30px;
    height: 30px;

}

.item-img {
    margin-top: 15%;
}

.item-img img {
    width: 500px;
    height: 500px;
}
.item-img h1  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}


@media only screen and (max-width: 750px) {
    
    .wrapper {
        margin: 0 auto; 
        width: 300px;
    }
    
    .baner a img {
        margin-left: 0%;
    }
    
    .baner img {
        width: 10x;
        height: 13px;
    }
    .gallery-links { 
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 50px;
        position: relative;
        text-align: center;
    }
    
    .gallery-img {
        flex-basis: 30%;
        margin: 20px 5px;
    }
    
    .gallery-img img {
        width: 250px;
        height: 250px;
    }
    
    
    .img-text {
        font-size: 20px;
        text-align: center;
    }
    
    .cart { 
        transition: all 0.3s ease-in-out;
    }
    }
